# Exercises for queries in MySQL.

1. Cual es el idioma con el nombre más largo hablado en el mundo. También indique
que países hablan ese idioma. El listado debe estar ordenado alfabéticamente por
nombre de país.
    ```
    SELECT code, name 
    FROM country 
    WHERE code in (
        SELECT countrycode
        FROM countrylanguage 
        WHERE LENGTH(language) = (
            SELECT MAX(LENGTH(language)) 
            FROM countrylanguage
        )
    );
    ```
2. Muestre un listado del año de independencia de cada país. Si aún no se ha
independizado muestre el año “N/A”
    ```
    select name, IFNULL(indepyear, "N/A")
    from country;
    ```
3. Muestre un listado con los países “recién independizado” y “antiguamente
independizados”. Es recién independizado si su fecha de independizado es
posterior a 1899.
    ```
    select name, indepyear, if(indepyear < 1899, "recien indepencizo", "antiguamente indepencizo") as indepAge
    from country
    where indepyear is not null;
    ```
4. Cual es el promedio de nivel d vida de los países africanos.
    ```
    select round(avg(lifeExpectancy), 0) as AverageLifeAfrica
    from country
    where continent = "Africa";
    ```
5. Cuál es el país con menor nivel de vida.
    ```
    select name, LifeExpectancy
    from country
    where LifeExpectancy is not null
    order by LifeExpectancy ASC
    limit 1;
    ```
6. Cuál es el país con mayor nivel de vida.
    ```
    select name, LifeExpectancy
    from country
    where LifeExpectancy is not null
    order by LifeExpectancy desc
    limit 1;
    ```
7. Muestre un listado de los países de América y cuanta es la capacidad de repartir su
riqueza entre su densidad de población. GNP = PIB. El listado debe estar ordenado
descendentemente por capacidad de repartir riqueza, luego por nombre
ascendentemente. La capacidad de repartir riqueza debe mostrarse en separación
de miles y con dos decimales.
    ```
    select name, format(round((gnp / (population / surfacearea)), 2),2) as ability
    from country
    where continent like "% America%"
    order by round((gnp / (population / surfacearea)), 2) desc, name;
    ```
8. Muestre los segundos nombres de los países de Europa. El listado debe estar
ordenado alfabéticamente por este segundo nombre.
    ```
    select seg_nombre,
	 locate(" ", seg_nombre) as pos2, 
	 if(locate(" ", seg_nombre) = 0, 
		seg_nombre,
        substr(seg_nombre, 1, locate(" ", seg_nombre)-1)) as segundo_nombre
    from
        (
        select name, locate (" ", name) as pos1, substr(name, locate(" ", name)+1) as seg_nombre
        from country
        where continent = "Europe" and locate(" ", name) > 0) as S;

    select name,
        if(locate(" ", name > 0,
            if(locate(" ", name, locate(" ", name)+1) = 0, substr(name, locate(" ", name)+1),
                substr(name, locate(" ", name)+1),
                    (locate(" ", name, locate(" ", name)+1)-1 - locate(" ", name)+1)-1))
                        , "N/A") as segundo_nombre
    ```
9. Muestre un listado de los países America y la cantidad de veces que aparece la
letra “A” en ellos. El listado debe estar ordenado por la cantidad de veces que
aparece la letra A en el nombre del país.
    ```

    ```

# **Second part of exercises for queries MySQL**

1. ***Devuelve una lista con el nombre del producto, precio y nombre de fabricante de todos los
productos de la base de datos.***
    ```
    
    ```