# **Procedimientos Almacenados

* ### **Son como recetas predefinidas que se guardan en el servidor de el base de datos**
    * ***Eficiencia***
    * ***Optomizacion***
    * ***Seguridad***

---

* ### **Estructura Basica**
    >```sql
    >Create Procedure nombre_procedimiento([parametros])
    >Begin
    >   -- Decleraciones SQL
    >End;
    >```

    * #### **Parametros de Entrada y Salida**
        1. **IN**: El valor de parametro se pasa al procedimiento y no puede ser modificado dentro del procedimiento
        2. **OUT**: El procedimiento puede cambiar el valor del parametro y este cambio se refleja fuera del procedimiento
        3. **INOUT**: Combinacion `IN` y `OUT`. El valor puede ser pasado al procedimiento y tambien modificado dentro del mismo

    * #### **CODE**
        >```sql
        >delimiter //
        >create procedure cantidad(in precio decimal(10,2), 
        >    in cantidad int, out total decimal(10,2))
        >begin 
        >    set total = precio * cantidad;
        >end//
        >
        >delimiter ;
        >
        >set @total = 0;
        >call tienda.cantidad(10, 5, @total);
        >select @total;
        >```

---

* ### **Ejemplo**
    * DATABASE

        ```sql
        create database base_ejemplo;
        use base_ejemplo;

        create table productos (
            id int not null auto_increment,
            nombre varchar(20) not null,
            estado varchar(20) not null default 'disponible',
            precio float not null default 0.0,
            primary key(id)
        );

        INSERT INTO productos (nombre, estado, precio) VALUES
        ('Producto1', 'disponible', 10.99),
        ('Producto2', 'disponible', 20.49),
        ('Producto3', 'agotado', 5.99),
        ('Producto4', 'disponible', 15.29),
        ('Producto5', 'disponible', 12.99),
        ('Producto6', 'agotado', 8.99),
        ('Producto7', 'disponible', 18.79),
        ('Producto8', 'agotado', 6.49),
        ('Producto9', 'disponible', 22.99),
        ('Producto10', 'disponible', 14.99),
        ('Producto11', 'disponible', 11.99),
        ('Producto12', 'agotado', 9.99),
        ('Producto13', 'disponible', 17.99),
        ('Producto14', 'disponible', 19.99),
        ('Producto15', 'disponible', 16.99),
        ('Producto16', 'agotado', 7.99),
        ('Producto17', 'disponible', 21.99),
        ('Producto18', 'disponible', 24.99),
        ('Producto19', 'disponible', 13.99),
        ('Producto20', 'agotado', 8.49);
        ```

    1. **Procedimiento con IN**
        >```sql
        >delimiter $$
        >create procedure obtenerProductosPorEstado(IN nombre_estado >varchar(255))
        >begin
        >    select * from productos where estado = nombre_estado;
        >end$$
        >delimiter ;
        >```

    2. **Ejecutas el procedimiento**
        >```sql
        >call procedure obtenerProductosPorEstado('agotado');
        >```
    
    3. **Procedimiento con OUT**
        >```sql
        >create procedure contarproductosporestado(IN nombre_estado varchar(25), OUT numero int)
        >begin
        >    select count(id) into numero 
        >    from productos 
        >    where estado = nombre_estado;
        >end$$
        >delimiter ;
        >
        >set @cantidad_disponibles = 0;
        >call contarproductosporestado('disponible', >@cantidad_disponibles);
        >select @cantidad_disponibles as ProductosDisponibles
        >```
    4. **Procedimiento con INOUT**
        >```sql
        >delimiter $$
        >create procedure venderProducto(inout beneficio int(255), in id_producto int)
        >begin
        >    declare precio_producto float;
        >    select precio into precio_producto from productos where id = id_producto;
        >    set beneficio = beneficio + precio_producto;
        >end$$
        >delimiter ;
        >
        >set @beneficio_acumulado = 0;
        >call venderProducto(@beneficio_acumulado, 1); -- Venta del >producto 1
        >call venderProducto(@beneficio_acumulado, 2); -- Venta del >producto 2
        >select @beneficio_acumulado as BeneficioTotal;
        ```
    5. **Borrar Procedimiento**
        >```sql
        >drop procedure procedure_nombre;
        >```
    * #### **EXERCISE**
        >```sql
        >delimiter $$
        >drop procedure poblacionTotal$$
        >create procedure poblacionTotal(IN nombrePais varchar(100), >INOUT accu int)
        >begin
        >    declare cuenta int;
        >    select Population into cuenta
        >    from country
        >    inner join countrylanguage on country.code = countrylanguage.countrycode
        >    where nombrePais = country.name and countrylanguage.language = "Spanish" and countrylanguage.isofficial = 'T';
        >    set accu = accu + if(cuenta is not null, cuenta, 0);
        >end$$
        >delimiter ;
        >
        >set @gay = 0;
        >call poblacionTotal("Colombia", @gay);
        >call poblacionTotal("Francia", @gay);
        >call poblacionTotal("Peru", @gay);
        >
        >select @gay as gay;
        ```