# **Loops with Procedures**

### **Ejemplo While**

```sql
delimiter //

create procedure aumentarsalario(in empleado int)
begin
    loop
        update empleados set salario = salario * 1.1 where id = empleadoID and salario <= 5000;
        if salario > 5000 then
            leave;
        end if;
    end loop;
end //

delimiter ;
```

### **Ejemplo Repeat**

```sql
delimiter //

create procedure aumentarsalario()
begin
    repeat
        update empleados set salario = salario * 1.05 where salario < 3000;
    until (select * from count(*) from empleados where salario < 3000) = 0
    end repeat;
end //

delimiter ;
```

### **Ejemplo While**

```sql
delimiter //

create procedure contarempleadosaltossalairos()
begin
    declare contador int default 0;
    declare totalempleados int default 0;
    select count(*) into totalempleados from empleados where salario > 4000;
    while contador < totalempleados do
        set contador = contador + 1;
    end while;
    select contador;
end //

delimiter ;
```